h1,
h4 {
    font-family: 'La Belle Aurore', cursive;
}

p {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
}

body {
    padding-top: 100px;
    background-color: black;
    color: white;
}